* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: rgb(255, 212, 219);
    font-family: 'Sofia';
}

header > h1 {
    text-align: center;
    text-shadow: 0px 0px 15px white;
    margin-top: 20px;
    font-size: 3rem;
    z-index: 2;
}

.img-decoration .childhood {
    width: 200px;
    position: absolute;
    top: -40px;
    transform: rotate(25deg);
}

.img-decoration .ribbon-dec {
    width: 120px;
    position: absolute;
    z-index: 1;
    transform: rotate(25deg);
    top: 0;
    left: -10px;
}

.img-decoration .pink-rose {
    width: 150px;
    transform: rotate(270deg);
    position: absolute;
    top: -50px;
    left: 200px;
}

.img-decoration {
    .one {
        left: 270px;
        
        transform: scaleX(-1);
        transform: rotate(90deg);
    }
    .two {
        left: 950px;
        z-index: 1;
    }

    .my-gf-pic {
        height: 300px;
        position: absolute;
        top: -82px;
        right: 50px;
        border-radius: 50px;
        box-shadow: 0 0 50px white;
        transform: rotate(90deg);
    }

    p {
        position: absolute;
        right: 10px;
        background-color: aliceblue;
        width: 200px;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;

        transition: all allow-discrete 0.3s;
    }

    h1 {
        display: none;
        position: absolute;
        width: 500px;
        font-size: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        z-index: 3;
        background-color: black;
        color: pink;
        box-shadow: 0 0 10px pink;
        padding: 40px;
        border-radius: 20px;
        word-spacing: 5px;
    }

    p:hover {
        background-color: black;
        color: pink;
        z-index: 2;
    }

    div:hover h1 {
        display: block;
        top: 50%;
        left: 50%;
    } 
}

.from-me-to-you {
    display: grid;
    margin: 110px 0px 0px 340px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "   history         school       ."
    "   what-I-love       decor       ."
    ;

    .history-love {
        width: 300px;
        grid-area: history;
        background-color: aliceblue;
        padding: 15px;
        height: fit-content;

        h1 {
            font-weight: bold;
        }

        p {
            padding: 20px;
        }
    }

    .school-img {
        width: 500px;
        grid-area: school;
    }

    .what-I-love {
        grid-area: what-I-love;
        background-color: aliceblue;

        h1{
            font-weight: bold;
            padding: 20px;
        }

        ul {
            list-style-type: none;
            padding: 20px;
            transition: all allow-discrete 1s;

            li {
                padding: 10px;

                .I-love-hidden {
                    display: none;
                    grid-area: side;
                    position: absolute;
                    box-shadow: 0 0 400px pink;
                    border-radius: 20px;
                }

                img[alt="Eye"] {
                    width: 250px;
                    right: 340px;
                    top: 930px;
                }

                img[alt="Lips"] {
                    width: 200px;
                    top: 880px;
                    right: 340px;
                }

                img[alt='Currly-Hair'] {
                    width: 350px;
                    top: 990px;
                    right: 285px;
                }

                img[alt='Smile'] {
                    width: 200px;
                    top: 890px;
                    right: 350px;
                }

                img[alt='white-precious-skin'] {
                    width: 200px;
                    top: 860px;
                    right: 350px;
                }

                img[alt='cherry'] {
                    width: 200px;
                    top: 880px;
                    right: 350px;
                }

                p[title='melon'] {
                    width: 200px;
                    top: 1020px;
                    right: 340px;
                    background-color: black;
                    padding: 20px;
                }

                img[alt='toes'] {
                    width: 300px;
                    top: 950px;
                    right: 310px;
                }

                img[alt='cheeks'] {
                    width: 200px;
                    top: 900px;
                    right: 350px;
                }

                ul[title='my-beautiful-gf'] {
                    width: 300px;
                    top: 840px;
                    right: 2900px;
                    background-color: rgba(0, 0, 0, 0.696);
                    z-index: 5;
                }

            }

            li:hover {
                background-color: black;
                color: pink;
            }
        }
    }

    .background-decor {
        background-color: aliceblue;
        grid-area: decor;
        width: 500px;
        height: 600px;

        .pink-rose-string-bottum {
            position: relative;
            width: 500px;
            top: 180px;
        }

        .pink-rose-string-top{
            position: relative;
            width: 500px;
            bottom: 428px;
            transform: rotate(180deg);
        }
    }
}

.what-I-love ul > li:hover > .I-love-hidden {
    display: block;
    top: 800px;
    right: 300px;
}

aside.whole-page-decor {
    position: absolute;
    top: 300px;


    .flower-corel-1 {
        width: 430px;
    }

    .us {
        position: absolute;
        width: 150px;
        opacity: 0.5;

        transform: rotate(45deg);
        left: 0;

        transition: all allow-discrete 0.6s;
    }

    .us:hover {
        opacity: 1;
    }

    img[alt="us-2"] {
        top: 280px;
    }

    img[alt="us-3"] {
        top: 490px;
    }

    img[alt="us-4"] {
        top: 620px;
    }

    img[alt="us-5"] {
        top: 850px;
    }
}








footer.will-you-be-my-valinetine {
    
    h1 {
        background-color: black;
        text-align: center;
        color: pink;
        padding: 30px 0 30px 0;
        box-shadow: 5px 0px 50px white;
    }

    .be-my-valinetine {
        display: flex;
        width: 100%;

        div {
            width: 50%;

            img {
                width: 100%;
                object-fit: fill;
            }

            div {
                position: relative;
                width: 100%;
                text-align: center;
                z-index: 2;
                bottom: 50%;
                
                h1 {
                    text-align: center;
                    width: fit-content;
                    margin: 0 auto 0 auto;
                    padding: 20px;
                    background: transparent;
                    border-radius: 400px;
                    box-shadow: 0 0 400px white;
                    font-size: 3rem;
    
                    transition: all allow-discrete 1s;
                }

                .hide-within {
                    display: none;
                    position: absolute;
                    width: 400px;
                    top: 250px;
                    right: 470px;
                    

                    h1 {
                        font-size: 1.5rem;
                        box-shadow: none;
                        background-color: rgba(255, 0, 0, 0.694);
                        color: black;
                        text-shadow: 0 0 10px white;
                    }

                    img {
                        width: 150px;
                        margin-top: 10px;
                    }
                }

                .first {
                    left: 500px;
                    
                    h1 {
                        padding: 30px;
                    }
                }
    
                h1:hover {
                    box-shadow: none;
                }
            }
        }
    }
}

.will-you-be-my-valinetine .be-my-valinetine > div > div:hover .hide-within {
    display: block;
}
